<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KSWError.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>270EED871B1370890059CD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270EED921B1370890059CD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270EEE001B137F310059CD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>270EEE0A1B137F310059CD8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
